<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This blog is finalhandler</title>
</head>
<body>
    <nav>
        <div class="site-title">
           <a href="/"><h1>Fire Blog</h1></a>
        </div>
        <div class="site-title">
           <a href="/about"><h1>About</h1></a>
        </div>

    </nav>
    <div class="all-blogs">
        <h3>All blogs</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nesciunt quos, hic officiis voluptatum incidunt, expedita, qui odit cupiditate ducimus enim dignissimos soluta omnis. At, consequuntur. Voluptatum ratione placeat sed.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nesciunt quos, hic officiis voluptatum incidunt, expedita, qui odit cupiditate ducimus enim dignissimos soluta omnis. At, consequuntur. Voluptatum ratione placeat sed.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nesciunt quos, hic officiis voluptatum incidunt, expedita, qui odit cupiditate ducimus enim dignissimos soluta omnis. At, consequuntur. Voluptatum ratione placeat sed.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nesciunt quos, hic officiis voluptatum incidunt, expedita, qui odit cupiditate ducimus enim dignissimos soluta omnis. At, consequuntur. Voluptatum ratione placeat sed.</p>
    </div>
</body>
</html>